@import "colors";

:root {
  font-family: "Fira Sans", sans-serif;
  background-color: $color-light;
}

.link {
  color: $color-primary;
}

.btn {
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-light;
}
