@import "colors";
@import "sizes";

.app {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: 60px 1fr 60px;

  .logo,
  .logged-in   {
    display: flex;
    align-items: center;
  }

  .logout {
    margin-left: $h-margin-s1;
  }

  .logo-icon {
    $size: 40px;
    fill: none;
    stroke: $color-light;
    width: $size;
    height: $size;
    margin-right: $h-margin-s2;
  }

  .header,
  .footer {
    background-color: $color-tertiary;
    color: $color-light;

    display: flex;
    align-items: center;
  }

  .header,
  .main,
  .footer {
    padding: 0 $h-margin;
  }

  .main {
    padding: $h-margin;
  }

  .footer {
    justify-content: space-between;
  }

  .header {
    justify-content: space-between;
  }

  .name {
    font-weight: bold;
  }

  .copyright-link {
    margin-left: $h-margin-s1;
  }

  .svg-sprite {
    display: none;
  }

  .languages {
    display: flex;
  }

  .language {
    align-items: center;
    display: flex;
  }

  .language:not(:last-child) {
    margin-right: $h-margin-s1;
  }

  .lang-icon {
    $size: 20px;
    width: $size;
    height: $size;
    margin-right: $h-margin;
  }
}
